<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <!-- ~ 2GB -->
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>

  <system.webServer>
   <directoryBrowse enabled="false" />
  <handlers>
            <clear />
            <add name="PythonHandler" path="*" verb="*" type="" modules="FastCgiModule" scriptProcessor="C:\Python38\python.exe|C:\Python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
            <add name="StaticFile" path="*" verb="*" type="" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="" resourceType="Either" requireAccess="Read" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />

  </handlers>
  
  <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="4294967295" /> <!-- 4 GB - making it match maxRequestLength to fix issue with uploading 20mb file -->
      </requestFiltering>
   </security>  
  </system.webServer>

<appSettings>
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\convictionhr_master" />
  <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
  <!-- The handler here is specific to Bottle; see the next section. -->
  <add key="DJANGO_SETTINGS_MODULE" value="convictionhr_master.settings" />
    
</appSettings>

</configuration>
