{% extends 'layouts/employee/index.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item text-sm"><a href="">Billing</a></li>
<li class="breadcrumb-item text-sm active" aria-current="page">Invoices</li>
{% endblock %}

{% block heading %} Invoices ({{ obj_billing.paginator.count }}) {% endblock %}

{% block options %}
<a onClick="javascript:history.go(-1);" class="btn btn-sm btn-neutral">Back</a>
{% endblock %}

{% block content %}


<form method="get">
    <div class="row">
        <div class="col-md-3 mb-2">
            {{form.SEARCH_BY}}
        </div>
        <div class="col-md-5 mb-2">
            <div class="input-group">
                {{form.SEARCH_TEXT}}
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-primary" name="btn_search" type="submit"><i
                            class="fas fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="form-row">
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead>
            <tr>
                <th class="text-sm">INVOICE #</th>
                <th class="text-sm">CANDIDATE</th>
                <th class="text-sm">CLIENT</th>
                <th class="text-sm">FINAL DOJ</th>
                <th class="text-sm">AMOUNT (INR)</th>
                <th class="text-sm">STATUS</th>
                <th class="text-sm">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in obj_billing %}
            <tr>
                <td class="text-wrap">{{item.INVOICE_NUMBER}}</td>
                <td class="text-wrap">{{item.CANDIDATE.FIRST_NAME}} {% if item.CANDIDATE.LAST_NAME %} {{item.CANDIDATE.LAST_NAME}}{% endif %} ({{item.CANDIDATE.CANDIDATE_ID}})</td>
                <td class="text-wrap">{{item.CANDIDATE.JOB_CODE.CLIENT_CODE|truncatechars:15}}</td>
                <td class="text-wrap">{{item.CANDIDATE.FINAL_DOJ}}</td>
                <td class="text-wrap">{{item.INVOICE_AMOUNT}}</td>
                <td class="text-wrap">
                    {{item.INVOICE_STATUS}}
                </td>
                <td>
                    <div class="dropdown dropleft">
                        <button class="btn btn-secondary btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span><i class="ni ni-curved-next"></i></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenu2">
                            <a href="" class="dropdown-item" type="button" data-toggle="modal" id="{{item.id}}"
                               data-target="#modal-form{{item.id}}">Update Status</a>
                            <a href="/recruitment/candidates/{{item.id}}/view/" class="dropdown-item"
                               type="button">View</a>
                            <a href="/recruitment/candidates/{{item.id}}/details/" class="dropdown-item"
                               type="button">Edit</a>
                        </div>
                    </div>
                    <!-- Modal for update staus -->
                    <div class="modal fade" id="modal-form{{item.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/recruitment/candidates/{{candidate.id}}/update/" role="form"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="">CANDIDATE NAME</label><br>
                                                <strong>{{candidate.FIRST_NAME}} {% if candidate.LAST_NAME %}{{candidate.LAST_NAME}}{% else %}{% endif %}</strong>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="">CLIENT</label><br>
                                                <strong>{{candidate.JOB_CODE.CLIENT_CODE.CUSTOMER_CODE}}</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="">CANDIDATE STATUS</label>
                                                <select name="status" id="status{{candidate.id}}" class="form-control" required>
                                                    <option selected></option>
                                                    <option>FINAL SELECT</option>
                                                    <option>OFFERED</option>
                                                    <option>JOINED</option>
                                                    <option>DROP OUT</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-6" id="statusRemarksDiv{{candidate.id}}">
                                                <label for="">STATUS REMARKS</label>
                                                <select name="statusRemarks" id="statusRemarks{{candidate.id}}"
                                                        class="form-control" required>
                                                    <option selected></option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-6" id="expectedDOJDiv{{candidate.id}}">
                                                <label for="">EXPECTED DOJ</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control flatpickr bg-white"
                                                           name="expectedDOJ" id="expectedDOJ{{candidate.id}}"
                                                           placeholder="YYYY-MM-DD" data-input>
<!--                                                    <div class="input-group-append">-->
<!--                                                        <a onclick="document.getElementById('expectedDOJ'+{{candidate.id}}).value=''" class="input-group-text" title="clear">-->
<!--                                                            <i class="fas fa-times"></i>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" id="finalDOJDiv{{candidate.id}}">
                                                <label for="">FINAL DOJ</label>
                                                <div class="input-group">
                                                <input type="text" class="form-control flatpickr bg-white"
                                                       name="finalDOJ" id="finalDOJ{{candidate.id}}"
                                                       placeholder="YYYY-MM-DD">
<!--                                                    <div class="input-group-append">-->
<!--                                                        <a class="input-group-text" title="clear">-->
<!--                                                            <i class="fas fa-times"></i>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" id="dropOutDiv{{candidate.id}}">
                                                <label for="">DROP OUT REASON</label>
                                                <select name="dropOutReason" id="dropOutReason{{candidate.id}}"
                                                        class="form-control">
                                                    <option selected></option>
                                                    <option>CTC</option>
                                                    <option>PROFILE MISMATCH</option>
                                                    <option>OFFER SHOPPING</option>
                                                    <option>LOCATION</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal for update staus -->
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="dataTables_info" id="datatable-basic_info" role="status" aria-live="polite">Showing
            {{obj_billing.start_index}} to {{obj_billing.end_index}} of {{obj_billing.paginator.count}} entries
        </div>

        {% if obj_billing.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if obj_billing.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ obj_billing.previous_page_number }}" tabindex="-1">
                        <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% for i in obj_billing.paginator.page_range %}
                {% if obj_billing.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if obj_billing.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ obj_billing.next_page_number }}">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        <br><br>
    </div>
</div>


<script>

$(document).ready(function () {
var ID = 0;
    $("a").click(function() {
        var a = $(this);
        ID = a.attr('id');
        $("#dropOutDiv"+ID).hide();
        $("#expectedDOJDiv"+ID).hide();
        $("#finalDOJDiv"+ID).hide();
        $("#statusRemarksDiv"+ID).hide();
        $("#finalDOJ"+ID).val('');
        $("#status"+ID).val('');
    })

    $("select").change(function () {
        var el = $(this);
        if (el.val() === "FINAL SELECT") {
              $('#statusRemarks'+ID).empty();
              // document.getElementById('statusRemarks'+ID).options.length = 0;
              $("#statusRemarks"+ID).append("<option></option>");
              $("#statusRemarks"+ID).append("<option>OFFER PENDING</option>");
              $("#statusRemarks"+ID).append("<option>OFFER SUBMITTED</option>");
              $("#statusRemarks"+ID).append("<option>DOCS PENDING</option>");
              $("#statusRemarks"+ID).append("<option>DOCS SUBMITTED</option>");
              $("#statusRemarksDiv"+ID).show();
              $("#dropOutDiv"+ID).hide();
              $("#expectedDOJDiv"+ID).show();
              $("#finalDOJDiv"+ID).hide();
              $("#finalDOJ"+ID).removeAttr('required');
              $("#dropOutReason"+ID).removeAttr('required');
              $("#finalDOJ"+ID).attr('readonly', '');
              $("#expectedDOJ"+ID).attr('required', '');
              $("#finalDOJ"+ID).val('');
        } else if (el.val() === "OFFERED") {
              $('#statusRemarks'+ID).empty();
              // document.getElementById('statusRemarks'+ID).remove();
              $("#statusRemarks"+ID).append("<option></option>");
              $("#statusRemarks"+ID).append("<option>DOCS PENDING</option>");
              $("#statusRemarks"+ID).append("<option>DOCS SUBMITTED</option>");
              $("#statusRemarksDiv"+ID).show();
              $("#dropOutDiv"+ID).hide();
              $("#expectedDOJDiv"+ID).show();
              $("#finalDOJDiv"+ID).show();
              $("#finalDOJ"+ID).removeAttr('required');
              $("#dropOutReason"+ID).removeAttr('required');
              // $("#finalDOJ"+ID).removeAttr('readonly');
              $("#expectedDOJ"+ID).attr('required', '');

        } else if (el.val() === "JOINED") {
              //document.getElementById('statusRemarks'+ID).options.length = 0;
              $('#statusRemarks'+ID).empty();
              $("#statusRemarks"+ID).append("<option>JOINED</option>");
              $("#statusRemarksDiv"+ID).hide();
              $("#dropOutDiv"+ID).hide();
              $("#expectedDOJDiv"+ID).hide();
              $("#finalDOJDiv"+ID).show();
              $("#finalDOJ"+ID).attr('required', '');
              // $("#finalDOJ"+ID).removeAttr('readonly', '');
              $("#expectedDOJ"+ID).removeAttr('required');
              $("#dropOutReason"+ID).removeAttr('required');
              $("#expectedDOJ"+ID).val('');
        } else if (el.val() === "DROP OUT") {
              // document.getElementById('statusRemarks'+ID).options.length = 0;
              $('#statusRemarks'+ID).empty();
              $("#statusRemarks"+ID).append("<option>DROP OUT</option>");
              $("#dropOutDiv"+ID).show();
              $("#statusRemarksDiv"+ID).hide();
              $("#expectedDOJDiv"+ID).hide();
              $("#finalDOJDiv"+ID).hide();
              $("#expectedDOJ"+ID).removeAttr('required');
              $("#finalDOJ"+ID).removeAttr('required');
              $("#dropOutReason"+ID).attr('required', '');
              $("#expectedDOJ"+ID).val('');
              $("#finalDOJ"+ID).val('');
        } else if (el.val() === "") {
              // document.getElementById('statusRemarks'+ID).options.length = 0;
              $('#statusRemarks'+ID).empty();
              $("#statusRemarks"+ID).append("<option></option>");
              $("#dropOutDiv"+ID).hide();
              $("#statusRemarksDiv"+ID).show();
              $("#expectedDOJDiv"+ID).hide();
              $("#finalDOJDiv"+ID).hide();
              $("#expectedDOJ"+ID).val('');
              $("#finalDOJ"+ID).val('');
        }
    });

});


</script>

{% include 'includes/script.html' %}

{% endblock %}