{% extends 'layouts/employee/index.html' %}

{% block heading %} Add CV {% endblock %}

{% block content %}
<div class="card shadow w-100">
    <div class="card-body">
              <form method="post" action="{% if id %}/client/spoc/{{obj_spoc.id}}/details/{% else %}/client/spoc/new/{% endif %}">
                  {% csrf_token %}
                <div class="form-row">
                  {% for field in form %}
                  <div class="form-group col-md-4">
                    <label for="">{{field.label}}</label>
                    {{field}}
                  </div>
                  {% endfor %}
                </div>
                <div class="form-row">
                <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-default btn-sm">Add</button>
                </div>
                </div>
              </form>
    </div>
</div>

<script>
$('form').find(':input,:radio,:checkbox').addClass('form-control');
$('select').removeClass('form-control');
$('select').addClass('ui fluid search selection dropdown');
</script>


<script>
$('.ui.dropdown')
  .dropdown(

  )
;

$('#multi-select')
  .dropdown()
;

$('.ui.selection.dropdown')
  .dropdown({
    clearable: true,
    useLabels: true,
    match: 'both',
    fullTextSearch: true,
    allowAdditions: true,
  })
;
$('.ui.inline.dropdown')
  .dropdown({
    clearable: true,
    placeholder: 'any',
  })
;

</script>
{% endblock %}