{% extends 'layouts/employee/index.html' %}


{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item text-sm"><a href="">Accounts</a></li>
<li class="breadcrumb-item text-sm active" aria-current="page">Change Password</li>
{% endblock %}

{% block heading %} Change Password {% endblock %}

{% block options %}
<a onClick="javascript:history.go(-1);" class="btn btn-sm btn-neutral">Back</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-lg-4 col-md-7">
<div class="card bg-secondary border-0 mb-0 center mt-4 shadow">
            <div class="card-body px-lg-5 py-lg-4">
                <form method="post" role="form" autocomplete="off">{% csrf_token %}
                <div class="form-group mb-3">
                      <label class="">New Password</label>
                    <input class="form-control" placeholder="password" type="password" name="newPassword1" autocomplete="false">
                </div>
                <div class="form-group">
                      <label class="">Confirm Password</label>
                    <input class="form-control" placeholder="confirm password" type="password" name="newPassword2" autocomplete="false">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-0">Update</button>
                </div>
              </form>
            </div>
          </div>
</div>
</div>

{% endblock %}