{% extends 'layouts/employee/index.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item text-sm"><a href="">Admin</a></li>
<li class="breadcrumb-item text-sm active" aria-current="page">Reset Password</li>
{% endblock %}

{% block heading %} Reset Password {% endblock %}

{% block options %}
<a onClick="javascript:history.go(-1);" class="btn btn-sm btn-neutral">Back</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-lg-4 col-md-7">
<div class="card bg-secondary border-0 mb-0 center mt-4 shadow">
            <div class="card-body px-lg-4 py-lg-3">
                <form method="post" role="form" autocomplete="off">{% csrf_token %}
                <div class="form-group mb-3">
                      <label class="">Enter Username</label>
                    <input class="form-control" placeholder="Type username" type="text" name="username" autocomplete="false">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Reset Password</button>
                </div>
              </form>
            </div>
          </div>
</div>
</div>
{% endblock %}