{% extends 'layouts/employee/index.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item text-sm"><a href="">Recruitment</a></li>
<li class="breadcrumb-item text-sm active" aria-current="page"><a href="{% url 'job_list' %}">Job Openings</a></li>
<li class="breadcrumb-item text-sm active" aria-current="page">Edit</li>
{% endblock %}

{% block heading %} Job Details ( {{obj_job.JOB_CODE}} ) {% endblock %}

{% block options %}
<a onClick="javascript:history.go(-1);" class="btn btn-sm btn-neutral">Back</a>
{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
              <form method="post" action="/recruitment/job/{{obj_job.id}}/details/">
                  {% csrf_token %}
                <div class="form-row">
                  {% for field in form %}
                    {% if field.name == 'REQUIRED_SKILLS' or field.name == 'ADDITIONAL_INFORMATION' %}
                      <div class="form-group col-md-12">
                        <label for="">{{field.label}}</label>
                        <textarea name="{{field.name}}" id="id_{{field.name}}" rows="3">{% if field.value %}{{field.value}}{% else %}{% endif %}</textarea>
                      </div>
                    {% elif field.name == 'JOB_DESCRIPTION' %}
                      <div class="form-group col-md-12">
                        <label for="">{{field.label}}</label>
                        <textarea name="{{field.name}}" id="id_{{field.name}}" rows="5">{% if field.value %}{{field.value}}{% else %}{% endif %}</textarea>
                      </div>
                  {% elif field.name == 'ASSIGNED_SPOC' %}
                    {% else %}
                      <div class="form-group col-md-4">
                        <label for="">{{field.label}}</label>
                        {{field}}
                      </div>
                    {% endif %}
                  {% endfor %}

                      <div class="form-group col-md-12">
                        <label for="">ASSIGN RECRUITERS</label>
                        {{form.ASSIGNED_SPOC}}
                      </div>

                </div>
                <div class="form-row">
                <div class="form-group col-md-2">
                  <button type="submit" class="btn btn-default">Update</button>
                </div>
                </div>
              </form>
    </div>
</div>


<script>
var numInputFields = ['NUMBER_OF_POSITIONS'];
    Array.from(numInputFields).forEach(function(element) {

    $(function() {
        $("input[name=" + element + "]").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
    });

    })
</script>

{% include 'includes/script.html' %}

{% endblock %}